
/* 
.backgroud {
   background-image: url("./assets/stickies-background.jpg");
  /* background-color: blue;
 
  background-repeat: no-repeat;
 
  }
 */

 html { 
    background: url(./assets/stickies-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }